[Desktop Entry]
Name=Oddity
Comment=OpenDingux Desktop Utility
Exec=oddity
Terminal=false
Type=Application
StartupNotify=true
Icon=icon
Categories=applications;
